
@{
    ViewBag.Title = "Draw Board";
}
@if (ViewBag.isOwner)
{
    <a href="/Draw/DeleteLatestShape?board=@Model.Board&username=@Model.Address">
        <img src="~/Icons/Undo.png" />
    </a>

    <a href="/Draw/WipeBoard?board=@Model.Board&username=@Model.Address">
        <img src="~/Icons/DeleteBoard.png" />
    </a>
}
<br/>
<div id="paint-count"></div>
<h2>Lets Draw!</h2>
    <canvas id="draw" board="@Model.Board" username="@Model.Address"></canvas>
    <div id="app3"></div>

@section scripts {
    <script src="~/Scripts/react/dist/bundle.js"></script>
}
