@model IEnumerable<DrawSocietyServer.Models.Shape>

@{
    ViewBag.Title = "Index";
}

<h2>Lets Draw!</h2>
<div id="root"></div>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Type }) |
                @Html.ActionLink("Details", "Details", new { id = item.Type }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Type })
            </td>
        </tr>
    }

</table>

@section scripts {
    <script src="~/Scripts/react/dist/bundle.js"></script>
}
