@model IEnumerable<DrawSocietyServer.Models.Shape>

@{
    ViewBag.Title = "Index";
}

<h2>Lets Draw!</h2>
<div id="root"></div>


@section scripts {
    <script src="~/Scripts/react/dist/bundle.js"></script>
}
