
@{
    ViewBag.Title = "Index";
}

<h2>Lets Draw!</h2>
<canvas id="draw" board="@Model.Board"></canvas>
<div id="app2" ></div>


@section scripts {
    <script src="~/Scripts/react/dist/bundle.js"></script>
}